@model List<AutoRSN.Models.StorageCode>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- -------------- Topbar -------------- -->
<header id="topbar" class="alt">
    <div class="topbar-left">
        <ol class="breadcrumb">
            <li class="breadcrumb-icon">
                <a href="#">
                    <span class="fa fa-home"></span>
                </a>
            </li>
            <li class="breadcrumb-active">
                <a href="#">Customer Master Setup</a>
            </li>
            <li class="breadcrumb-link">
                <a href="#">HOME</a>
            </li>
            <li class="breadcrumb-current-item">REASON</li>
        </ol>
    </div>
    <div class="topbar-right">
        <div class="ml15 ib va-m" id="sidebar_right_toggle">
            <div class="navbar-btn btn-group btn-group-number mv0">
                <button class="btn btn-sm btn-default btn-bordered prn pln">
                    <i class="fa fa-search fs22 text-default"></i>
                </button>
            </div>
        </div>
    </div>
</header>

<!-- -------------- Content -------------- -->
<section id="content" class="table-layout animated fadeIn">
    <!-- -------------- Column Center -------------- -->
    <div class="chute chute-center">
        @if (TempData["Message"] != null)
            {
            <div class="alert alert-danger" style="float: none;" role="alert">
                <b>@TempData["Message"]</b>
            </div>
        }
        <div class="col-md-push-12">
            <div class="panel-body pn">
                @{
                    int row = 0;
                    foreach (var items in Model)
                    {
                        @Html.ActionLink("Yes", "Delete", new { storeType = Model.ElementAt(0).storageType }, new { @class = "btn btn-sm btn-default btn-bordered prn pln fa fs22 text-default w50" }) <span> | </span>
                        @Html.ActionLink("Cancel", "Index", new { }, new { @class = "btn btn-sm btn-default btn-bordered prn pln fa fs22 text-default" })

                    }

                }


            </div>
        </div>
</section>

<!-- -------------- Sidebar Right -------------- -->
<aside id="sidebar_right" class="nano affix">
    <!-- -------------- Sidebar Right Content -------------- -->
    <div class="sidebar-right-wrapper nano-content">
        <div class="sidebar-block br-n p15">
            <form role="form" action="" method="post">
                <!-- -------------- Menu Block -------------- -->
                <div class="allcp-form theme-primary">

                    <h5 class="pln"> Filter Reasons</h5>

                    <h6 class="mb15"> By Reason :</h6>

                    <div class="section mb20">
                        <input type="text" name="FilterByReason" id="FilterByReason" class="gui-input" placeholder="Enter filter reason here...">
                    </div>

                    <hr class="short">

                    <div class="section">
                        <button type="submit" class="btn btn-dark pull-right ph30">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</aside>
<!-- -------------- /Sidebar Right -------------- -->

