<!DOCTYPE html>
<html>
<head>


    <!-- -------------- Meta and Title -------------- -->
    <meta charset="utf-8">
    <title>Celestica - AutoRSN</title>
    <meta name="keywords" content="AutoRSN - Auto sending required shipment notice system" />
    <meta name="description" content="AutoRSN - Auto sending required shipment notice system">
    <meta name="author" content="CosMoNG">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- -------------- Fonts -------------- -->
    <link rel='stylesheet' type='text/css' href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic' rel='stylesheet'
          type='text/css'>

    <!-- -------------- FooTable CSS -------------- -->
    <link rel="stylesheet" type="text/css" href="~/assets/js/plugins/footable/css/footable.core.min.css">

    <!-- -------------- Datatables CSS -------------- -->
    <link rel="stylesheet" type="text/css" href="~/assets/js/plugins/datatables/media/css/dataTables.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/assets/js/plugins/datatables/extensions/Editor/css/dataTables.editor.css">
    <link rel="stylesheet" type="text/css" href="~/assets/js/plugins/datatables/extensions/ColReorder/css/dataTables.colReorder.min.css">

    <!-- -------------- CSS - allcp forms -------------- -->
    <link rel="stylesheet" type="text/css" href="~/assets/allcp/forms/css/forms.css">

    <!-- -------------- CSS - theme -------------- -->
    <link rel="stylesheet" type="text/css" href="~/assets/skin/default_skin/css/theme.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/js/jquery/jquery_ui/jquery-ui.min.css"
    <!-- -------------- Favicon -------------- -->
    <link rel="shortcut icon" href="~/favicon.ico">

    <!-- -------------- IE8 HTML5 support  -------------- -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 

</head>

<body class="sb-l-o sb-l-m" data-spy="scroll" data-target="#nav-spy" data-offset="300">

    <!-- -------------- Body Wrap  -------------- -->
    <div id="main">
        @if (Request.IsAuthenticated)
        {
        <!-- -------------- Header  -------------- -->
        <header class="navbar navbar-fixed-top bg-dark">
            <div class="navbar-logo-wrapper bg-dark">
                <a class="navbar-logo-text" href="#">
                    <b>AutoRSN</b>
                </a>
                <span id="sidebar_left_toggle" class="ad ad-lines"></span>
            </div>
          
            <ul class="nav navbar-nav navbar-right ">
                <li class="dropdown dropdown-fuse">
                    <a href="#" class="dropdown-toggle fw600" data-toggle="dropdown">
                        <span class="hidden-xs">Welcome , <name>@User.Identity.Name</name></span>
                        <span class="fa fa-caret-down hidden-xs mr15"></span>
                        <img src="~/assets/img/avatars/CosMoNG.png" alt="avatar" class="mw55">
                    </a>
                    <ul class="dropdown-menu list-group keep-dropdown w250" role="menu">
                        <li class="list-group-item">
                            <a href="#" class="animated animated-short fadeInUp">
                                <span class="fa fa-diamond"></span> @Convert.ToString(Session["UserId"])
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="animated animated-short fadeInUp">
                                <span class="fa fa-envelope"></span> @Convert.ToString(Session["Email"])
                            </a>
                        </li>
                        <li class="dropdown-footer text-center">
                            <a href="~/Account/signout" class="btn btn-primary btn-sm btn-bordered">
                                <span class="fa fa-power-off pr5"></span> Logout
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </header>
        <!-- -------------- /Header  -------------- -->
        <!-- -------------- Sidebar  -------------- -->
        <aside id="sidebar_left" class="nano nano-light affix">
            <!-- -------------- Sidebar Left Wrapper  -------------- -->
            <div class="sidebar-left-content nano-content">
                <!-- -------------- Sidebar Menu  -------------- -->
                <ul class="nav sidebar-menu">
                    <li class="sidebar-label pt35">Menu</li>

                    <!--
                    <li>
                        <a class ="accordion-toggle" href="#">
                            <span class="fa fa-dashboard"></span>
                            <span class="sidebar-title">Dashboard</span>
                        </a>
                    </li>
                        -->

                    <li class="sidebar-label pt30">RSN</li>
                    <li>
                        <a href="~/Openso/Index">
                            <span class="fa fa-share-square-o"></span>
                            <span class="sidebar-title">RSN</span>
                        </a>
                    </li>
                    <li class="sidebar-label pt30">Master Setup</li>
                    <li>
                        <a href="~/ItemNotes/Index">
                            <span class="fa fa-newspaper-o"></span>
                            <span class="sidebar-title">Item Notes Setup</span>
                        </a>
                    </li>

                    <li>
                        <a href="~/Reason/Index">
                            <span class="fa fa-rocket"></span>
                            <span class="sidebar-title">Reason Setup</span>
                        </a>
                    </li>

                    <li>
                        <a href="~/Customer/Index">
                            <span class="fa fa-users"></span>
                            <span class="sidebar-title">Customer Setup</span>
                        </a>
                    </li>


                      <li>
                        <a href="~/CustomerGroup/Index">
                            <span class="fa fa-users"></span>
                            <span class="sidebar-title">Customer Group</span>
                        </a>
                    </li>


                    <li>
                        <a href="~/StorageType/Index">
                            <span class="fa fa-anchor"></span>
                            <span class="sidebar-title">Storage Type</span>
                        </a>
                    </li>

                    <li style="margin-bottom:30px;">
                        <a href="~/GTSMaster/Index">
                            <span class="fa fa-bullseye"></span>
                            <span class="sidebar-title">GTSMaster Setup</span>
                        </a>
                    </li>


                    <li>
                        <a href="~/UpdateShip/Index">
                            <span class="fa fa-book"></span>
                            <span class="sidebar-title">Update Shipment Status</span>
                        </a>
                    </li>
                    <li>
                        <a href="~/Report/Index">
                            <span class="fa fa-bookmark"></span>
                            <span class="sidebar-title">Download RSN Summary</span>
                        </a>
                    </li>

                    <li>
                        <a href="~/InternalReport/Index">
                            <span class="fa fa-bookmark"></span>
                            <span class="sidebar-title">RSN Summary (CMY Only)</span>
                        </a>
                    </li>

                    <!-- <li>
                        <a href="~/Shipset/Index">
                            <span class="fa fa-users"></span>
                            <span class="sidebar-title">Shipset Setup</span>
                        </a>
                    </li>
                        -->
                     <!--
                    <li class="sidebar-label pt30">System Setup</li>
                         -->
                    <li>
                        <a href="~/User/Index">
                            <span class="fa fa-paper-plane"></span>
                            <span class="sidebar-title">User Setup</span>
                        </a>
                    </li>

                    <!--
                    <li>
                        <a href="~/Server/Index">
                            <span class="fa fa-server"></span>
                            <span class="sidebar-title">Server Setup</span>
                        </a>
                    </li>
                        -->

                </ul>
                <!-- -------------- /Sidebar Menu  -------------- -->
                <!-- -------------- Sidebar Hide Button -------------- -->
                <div class="sidebar-toggler">
                    <a href="#">
                        <span class="fa fa-arrow-circle-o-left"></span>
                    </a>
                </div>
                <!-- -------------- /Sidebar Hide Button -------------- -->
            </div>
            <!-- -------------- /Sidebar Left Wrapper  -------------- -->


          

        </aside>
        <!-- -------------- Main Wrapper -------------- -->
        <section id="content_wrapper">
                        <!-- -------------- /Topbar -------------- -->
                        <!-- Redirect the user to Login page if the cookie cannot be found-->
                        <!-- -------------- Content ---------------->
                        @RenderBody()
                        <!-- -------------- /Content ---------------->
        </section>
        }
        else
        { Response.Redirect("~/Account/Login"); }
    </div>
    <!-- -------------- /Body Wrap  -------------- -->
    <!-- -------------- jQuery -------------- -->
    <script src="~/assets/js/jquery/jquery-1.11.1.min.js"></script>
    <script src="~/assets/js/jquery/jquery_ui/jquery-ui.min.js"></script>

    <!-- -------------- FooTable JS -------------- -->
    <script src="~/assets/js/plugins/footable/js/footable.all.min.js"></script>
    <script src="~/assets/js/plugins/footable/js/footable.filter.min.js"></script>

    <!-- -------------- Datatables JS -------------- -->
    <script src="~/assets/js/plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/assets/js/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/plugins/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
    <script src="~/assets/js/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="~/assets/js/pages/tables-data.js"></script>
    <script src="~/assets/js/pages/allcp_forms-elements.js"></script>

    <!-- -------------- PNotify JS -------------- -->
    <script src="~/assets/js/plugins/pnotify/pnotify.js"></script>


    <!-- -------------- CanvasBG JS -------------- -->
    <script src="~/assets/js/plugins/canvasbg/canvasbg.js"></script>

    <!-- -------------- HighCharts Plugin -------------- -->
    <script src="~/assets/js/plugins/highcharts/highcharts.js"></script>

    <!-- -------------- Theme Scripts -------------- -->
    <script src="~/assets/js/utility/utility.js"></script>
    <script src="~/assets/js/demo/demo.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/demo/widgets_sidebar.js"></script>
    <script src="~/assets/js/pages/management-tools-modals.js"></script>
    <script src="~/assets/js/pages/user-forms-file-notifications.js"></script>


    <script type="text/javascript">
    jQuery(document).ready(function () {

        "use strict";

        // Init Theme Core
        Core.init();

        // Init Demo JS
        Demo.init();

        // Init FooTable
        $('.footable').footable();
    });
    </script>

</body>

</html>
